.a{
	border: solid white 1px;
	height: 100px;
}

h5{
	color: blue;
	text-align: center;
}

h4{
	color:orange;
	text-align: center;
}

.b{
	color: white;
	text-align: center;
}


.joe{
	height: 140px;
	background-color:brown;
}